*.o
*.a
*.so
*.in
*~
*.tar.gz
*.lo
*.la
*.slo

.deps
.libs/
.dirstamp

autom4te.cache/
configure
config.log

Makefile
build/PrintPath
build/apr_common.m4
build/config.guess
build/config.sub
build/config_vars.mk
build/config_vars.sh
build/find_apr.m4
build/ltmain.sh
build/pkg/pkginfo
build/rules.mk
config.nice
config.status
docs/conf/extra/httpd-autoindex.conf
docs/conf/extra/httpd-dav.conf
docs/conf/extra/httpd-default.conf
docs/conf/extra/httpd-info.conf
docs/conf/extra/httpd-languages.conf
docs/conf/extra/httpd-manual.conf
docs/conf/extra/httpd-mpm.conf
docs/conf/extra/httpd-multilang-errordoc.conf
docs/conf/extra/httpd-ssl.conf
docs/conf/extra/httpd-userdir.conf
docs/conf/extra/httpd-vhosts.conf
docs/conf/extra/proxy-html.conf
docs/conf/httpd.conf
httpd
httpd.spec
include/ap_config_auto.h
include/ap_config_layout.h
modules.c
modules/Makefile
modules/aaa/Makefile
modules/aaa/modules.mk
modules/arch/unix/Makefile
modules/arch/unix/modules.mk
modules/arch/win32/Makefile
modules/arch/win32/modules.mk
modules/cache/Makefile
modules/cache/modules.mk
modules/cluster/Makefile
modules/cluster/modules.mk
modules/core/Makefile
modules/core/modules.mk
modules/database/Makefile
modules/database/modules.mk
modules/dav/fs/Makefile
modules/dav/fs/modules.mk
modules/dav/lock/Makefile
modules/dav/lock/modules.mk
modules/dav/main/Makefile
modules/dav/main/modules.mk
modules/debugging/Makefile
modules/debugging/modules.mk
modules/echo/Makefile
modules/echo/modules.mk
modules/examples/Makefile
modules/examples/modules.mk
modules/experimental/Makefile
modules/experimental/modules.mk
modules/filters/Makefile
modules/filters/modules.mk
modules/generators/Makefile
modules/generators/modules.mk
modules/http/Makefile
modules/http/modules.mk
modules/ldap/Makefile
modules/ldap/modules.mk
modules/loggers/Makefile
modules/loggers/modules.mk
modules/lua/Makefile
modules/lua/modules.mk
modules/mappers/Makefile
modules/mappers/modules.mk
modules/metadata/Makefile
modules/metadata/modules.mk
modules/proxy/Makefile
modules/proxy/balancers/Makefile
modules/proxy/balancers/modules.mk
modules/proxy/modules.mk
modules/session/Makefile
modules/session/modules.mk
modules/slotmem/Makefile
modules/slotmem/modules.mk
modules/ssl/Makefile
modules/ssl/modules.mk
modules/test/Makefile
modules/test/modules.mk
os/Makefile
os/unix/Makefile
server/Makefile
server/export_files
server/export_vars.h
server/exports.c
server/gen_test_char
server/httpd.exp
server/mpm/Makefile
server/mpm/prefork/Makefile
server/mpm/prefork/modules.mk
server/test_char.h
srclib/Makefile
srclib/apr/
support/Makefile
support/ab
support/apachectl
support/apxs
support/checkgid
support/dbmmanage
support/envvars-std
support/fcgistarter
support/htcacheclean
support/htdbm
support/htdigest
support/htpasswd
support/httxt2dbm
support/log_server_status
support/logresolve
support/logresolve.pl
support/phf_abuse_log.cgi
support/rotatelogs
support/split-logfile
test/Makefile
